@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
	--bg-color: #fff;
	--text-color:#1E1E1E;
	--bgbg-color:#EAEAEA;
	--shad-color:#171614;
	--title-color:#red;
	--mainBG-color:#745296;
	--main-color:#fff;
	



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 2rem;
	background-color: var(--bg-color);
	color: var(--text-color);
}

main{
	min-width:475px;
	max-width:50%;
	margin:1rem auto;
	background-color: var(--bgbg-color);
	padding: 1rem;
	box-shadow: 0 3px 5px var(--shad-color);
}

h1{
	text-align: center;
	font-size: 1.5rem;
	color: var(--title-color);
	font-family:"Bebas Neue", sans-serif;
	font-weight:300;
}
h5{
	color: var(--main-color);
	font-family: "Poppins", sans-serif;
	font-weight:400;
}

span{
	color: var(--main-color);
	font-family: "Poppins", sans-serif;
font-weight:300;}

header{
	background-color: var(--mainBG-color);
	color: var(--main-color);
	padding:2rem 4rem;
	text-align: center;
	border-radius: 5px;
	display:flex;
	justify-content:center;
}
header div{
	
padding:0 1em;
}
.menu{
	margin-top:1rem;
	border-radius: 5px;
	padding:2rem;
	display:flex;
	justify-content:center;
	background-color: var(--mainBG-color);
}

.botaoMenu{
	padding:0 2rem;
	font-size:1.2rem;
	font-family:"Bebas Neue", sans-serif;
	font-weight:300;
	text-decoration:none;
	color: var(--main-color);
}
.botaoMenu:hover {
	padding:0 2rem;
	font-family:"Bebas Neue", sans-serif;
	font-weight:300;
	text-decoration:underline;
	color: var(--text-color);
}


